# Django
Django==3.0.5
django-filter==2.2.0
django-admin-tools==0.9.0
django-webpack-loader== 0.7.0

# DRF
djangorestframework
djangorestframework-simplejwt==4.4.0
django-rest-swagger==2.2.0

# Websocket
channels==2.4.0
channels-redis==2.4.2

# Image processing
Pillow==7.1.1

# Documentation
Sphinx==3.0.1
sphinx-rtd-theme==0.4.3

# Code style
pylint==2.4.4
pylint-django==2.0.14

# Background tasks
celery==4.4.2
redis==3.4.1

# Markdown handling
Markdown==3.2.1

# Other
pytz==2019.3
feedparser==5.2.1
