django-filter
Django==3.0
django-admin-tools==0.9.0
django-webpack-loader == 0.6.0
djangorestframework
djangorestframework-simplejwt==4.4.0
channels==2.4
channels-redis==2.4.1
pytz==2019.3
Pillow==7.0.0
sphinx
feedparser==5.2.1
django-rest-swagger==2.2.0

# Code style
pylint==2.4.4
pylint-django==2.0.14

# Background tasks
celery==4.4.1
redis==3.4.1

# Markdown handling
Markdown==3.2.1
