{% extends "base.html" %}

{% block content %}
<form action="{% url 'login' %}">
<table>
<tr>
    <td><label>Имя пользователя:</label></td>
  <td><input type="text" id="username" required name="str"></td>
</tr>

<tr>
  <td><label>Пароль:</label></td>
  <td><input id="password" required type="password" name="str"></td>
</tr>
</table>
    <button id="RegisterBtn">Зарегистрироватся</button>
</form>
<br>
Текущий пользователь: {{ request.user }}
<script>
RegisterBtn.onclick = function() {
    username=document.getElementById('username').value;
    password=document.getElementById('password').value;
    if (username!="" && password!="") {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/register/", false);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify({"username": username, "password": password}));
        if (xhr.status == 400) {
            alert('Пользователь с таким именем уже существует')
        }
    }
};
</script>
{% endblock %}