<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
            {% load static %}
            <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/styles.css' %}" type="text/css">
    </head>

    <body>
        {% include "menu.html" %}

        {% block content %}
        {% endblock %}
        {% load static %}
        <script defer src="{% static 'js/main.js' %}"></script>
    </body>
</html>