{% extends "base.html" %}

{% block content %}
<h1>{{ main_header }}</h1>
<hr>
<p>Добро пожаловать на главную страницу проекта</p>>
<!--    <a href="{% url 'admin:index' %}">Ссылка на страницу диалогов</a>-->
<p>Сейчас у нас: {{ current_time }}</p>
<!--TODO: move it to navigation panel or menu-->
<!--<a href="/chat" class="btn btn-md btn-primary display-4">Открыть чат</a>-->
 Укажите номер чата, к которому хотите присоедениться<br/>
<input id="room-name-input" type="text" size="100"/><br/>
<button id="room-name-submit" class="btn btn-md btn-primary display-4">Открыть чат</button>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var chatNumber = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + chatNumber + '/';
        };
    </script>
{% endblock %}